Repository zooniverse/front-end-monorepo, pull requests merged in 2025-01, with the labels that each got.

#6561 lib-user: Setup react-i18next for MainContent components
  packages/lib-user/src/components/shared/MainContent/MainContent.js
  packages/lib-user/src/components/shared/MainContent/MainContent.spec.js
  packages/lib-user/src/components/shared/MainContent/components/StyledCalendarButton.js
  packages/lib-user/src/components/shared/MainContent/components/StyledTab.js
  packages/lib-user/src/components/shared/MainContent/helpers/getDateRangeSelectOptions.js
  packages/lib-user/src/components/shared/MainContent/helpers/getDateRangeSelectOptions.spec.js
  packages/lib-user/src/components/shared/MainContent/helpers/getProjectSelectOptions.js
  packages/lib-user/src/components/shared/Select/Select.js
  packages/lib-user/src/translations/en.json
Labels: approved, translations

#6559 lib-user: Setup react-i18next for HeaderDropdown, ProfileHeader, and TopProjects
  packages/lib-user/src/components/shared/Layout/components/HeaderDropdown.js
  packages/lib-user/src/components/shared/MainContent/MainContent.js
  packages/lib-user/src/components/shared/MainContent/MainContent.spec.js
  packages/lib-user/src/components/shared/MainContent/components/StyledCalendarButton.js
  packages/lib-user/src/components/shared/MainContent/components/StyledTab.js
  packages/lib-user/src/components/shared/MainContent/helpers/getDateRangeSelectOptions.js
  packages/lib-user/src/components/shared/MainContent/helpers/getDateRangeSelectOptions.spec.js
  packages/lib-user/src/components/shared/MainContent/helpers/getProjectSelectOptions.js
  packages/lib-user/src/components/shared/ProfileHeader/ProfileHeader.js
  packages/lib-user/src/components/shared/Select/Select.js
  packages/lib-user/src/components/shared/TopProjects/TopProjects.js
  packages/lib-user/src/translations/en.json
Labels: approved, translations

#6558 lib-user: Setup react-i18next for GroupForm
  packages/lib-user/src/components/shared/GroupForm/GroupForm.js
  packages/lib-user/src/components/shared/Layout/components/HeaderDropdown.js
  packages/lib-user/src/components/shared/MainContent/MainContent.js
  packages/lib-user/src/components/shared/MainContent/MainContent.spec.js
  packages/lib-user/src/components/shared/MainContent/components/StyledCalendarButton.js
  packages/lib-user/src/components/shared/MainContent/components/StyledTab.js
  packages/lib-user/src/components/shared/MainContent/helpers/getDateRangeSelectOptions.js
  packages/lib-user/src/components/shared/MainContent/helpers/getDateRangeSelectOptions.spec.js
  packages/lib-user/src/components/shared/MainContent/helpers/getProjectSelectOptions.js
  packages/lib-user/src/components/shared/ProfileHeader/ProfileHeader.js
  packages/lib-user/src/components/shared/Select/Select.js
  packages/lib-user/src/components/shared/TopProjects/TopProjects.js
  packages/lib-user/src/translations/en.json
Labels: approved, translations

#6557 lib-user: Setup react-i18next for BarChart and GroupContainer
  packages/lib-user/src/components/UserStats/UserStats.js
  packages/lib-user/src/components/shared/BarChart/BarChart.js
  packages/lib-user/src/components/shared/BarChart/helpers/getDateRangeLabel.js
  packages/lib-user/src/components/shared/BarChart/helpers/getDateRangeLabel.spec.js
  packages/lib-user/src/components/shared/GroupContainer/GroupContainer.js
  packages/lib-user/src/components/shared/GroupContainer/components/DeactivatedGroup.js
  packages/lib-user/src/components/shared/GroupContainer/helpers/getUserGroupStatus.js
  packages/lib-user/src/components/shared/GroupContainer/helpers/getUserGroupStatus.spec.js
  packages/lib-user/src/components/shared/GroupForm/GroupForm.js
  packages/lib-user/src/components/shared/Layout/components/HeaderDropdown.js
  packages/lib-user/src/components/shared/MainContent/MainContent.js
  packages/lib-user/src/components/shared/MainContent/MainContent.spec.js
  packages/lib-user/src/components/shared/MainContent/components/StyledCalendarButton.js
  packages/lib-user/src/components/shared/MainContent/components/StyledTab.js
  packages/lib-user/src/components/shared/MainContent/helpers/getDateRangeSelectOptions.js
  packages/lib-user/src/components/shared/MainContent/helpers/getDateRangeSelectOptions.spec.js
  packages/lib-user/src/components/shared/MainContent/helpers/getProjectSelectOptions.js
  packages/lib-user/src/components/shared/ProfileHeader/ProfileHeader.js
  packages/lib-user/src/components/shared/Select/Select.js
  packages/lib-user/src/components/shared/TopProjects/TopProjects.js
  packages/lib-user/src/translations/en.json
Labels: approved, translations

#6556 lib-user: Setup react-i18next for UserHome components
  packages/lib-user/src/components/UserHome/components/Dashboard/Dashboard.js
  packages/lib-user/src/components/UserHome/components/Dashboard/components/StatsTabs/StatsTabs.js
  packages/lib-user/src/components/UserHome/components/RecentProjects/RecentProjects.js
  packages/lib-user/src/components/UserHome/components/RecentSubjects/RecentSubjects.js
  packages/lib-user/src/components/UserHome/components/SubjectCard/SubjectCard.js
  packages/lib-user/src/components/UserStats/UserStats.js
  packages/lib-user/src/components/shared/BarChart/BarChart.js
  packages/lib-user/src/components/shared/BarChart/helpers/getDateRangeLabel.js
  packages/lib-user/src/components/shared/BarChart/helpers/getDateRangeLabel.spec.js
  packages/lib-user/src/components/shared/GroupContainer/GroupContainer.js
  packages/lib-user/src/components/shared/GroupContainer/components/DeactivatedGroup.js
  packages/lib-user/src/components/shared/GroupContainer/helpers/getUserGroupStatus.js
  packages/lib-user/src/components/shared/GroupContainer/helpers/getUserGroupStatus.spec.js
  packages/lib-user/src/components/shared/GroupForm/GroupForm.js
  packages/lib-user/src/components/shared/Layout/components/HeaderDropdown.js
  packages/lib-user/src/components/shared/MainContent/MainContent.js
  packages/lib-user/src/components/shared/MainContent/MainContent.spec.js
  packages/lib-user/src/components/shared/MainContent/components/StyledCalendarButton.js
  packages/lib-user/src/components/shared/MainContent/components/StyledTab.js
  packages/lib-user/src/components/shared/MainContent/helpers/getDateRangeSelectOptions.js
  packages/lib-user/src/components/shared/MainContent/helpers/getDateRangeSelectOptions.spec.js
  packages/lib-user/src/components/shared/MainContent/helpers/getProjectSelectOptions.js
  packages/lib-user/src/components/shared/ProfileHeader/ProfileHeader.js
  packages/lib-user/src/components/shared/Select/Select.js
  packages/lib-user/src/components/shared/TopProjects/TopProjects.js
  packages/lib-user/src/translations/en.json
Labels: approved, translations

#6555 lib-user: Setup react-i18next for MyGroups components
  packages/lib-user/src/components/MyGroups/MyGroups.js
  packages/lib-user/src/components/MyGroups/MyGroups.stories.js
  packages/lib-user/src/components/MyGroups/MyGroupsContainer.js
  packages/lib-user/src/components/MyGroups/components/CreateButton/CreateButton.js
  packages/lib-user/src/components/MyGroups/components/GroupCard/GroupCard.js
  packages/lib-user/src/components/MyGroups/components/PreviewLayout/PreviewLayout.js
  packages/lib-user/src/components/UserHome/components/Dashboard/Dashboard.js
  packages/lib-user/src/components/UserHome/components/Dashboard/components/StatsTabs/StatsTabs.js
  packages/lib-user/src/components/UserHome/components/RecentProjects/RecentProjects.js
  packages/lib-user/src/components/UserHome/components/RecentSubjects/RecentSubjects.js
  packages/lib-user/src/components/UserHome/components/SubjectCard/SubjectCard.js
  packages/lib-user/src/components/UserStats/UserStats.js
  packages/lib-user/src/components/shared/BarChart/BarChart.js
  packages/lib-user/src/components/shared/BarChart/helpers/getDateRangeLabel.js
  packages/lib-user/src/components/shared/BarChart/helpers/getDateRangeLabel.spec.js
  packages/lib-user/src/components/shared/GroupContainer/GroupContainer.js
  packages/lib-user/src/components/shared/GroupContainer/components/DeactivatedGroup.js
  packages/lib-user/src/components/shared/GroupContainer/helpers/getUserGroupStatus.js
  packages/lib-user/src/components/shared/GroupContainer/helpers/getUserGroupStatus.spec.js
  packages/lib-user/src/components/shared/GroupForm/GroupForm.js
  packages/lib-user/src/components/shared/Layout/components/HeaderDropdown.js
  packages/lib-user/src/components/shared/MainContent/MainContent.js
  packages/lib-user/src/components/shared/MainContent/MainContent.spec.js
  packages/lib-user/src/components/shared/MainContent/components/StyledCalendarButton.js
  packages/lib-user/src/components/shared/MainContent/components/StyledTab.js
  packages/lib-user/src/components/shared/MainContent/helpers/getDateRangeSelectOptions.js
  packages/lib-user/src/components/shared/MainContent/helpers/getDateRangeSelectOptions.spec.js
  packages/lib-user/src/components/shared/MainContent/helpers/getProjectSelectOptions.js
  packages/lib-user/src/components/shared/ProfileHeader/ProfileHeader.js
  packages/lib-user/src/components/shared/Select/Select.js
  packages/lib-user/src/components/shared/TopProjects/TopProjects.js
  packages/lib-user/src/translations/en.json
Labels: approved, translations

#6554 lib-user: Setup react-i18next for GroupStats components
  packages/lib-user/src/components/GroupStats/GroupStats.js
  packages/lib-user/src/components/GroupStats/components/GroupUpdateFormContainer/GroupUpdateFormContainer.js
  packages/lib-user/src/components/GroupStats/components/MemberCard/MemberCard.js
  packages/lib-user/src/components/GroupStats/components/MembersList/MembersList.js
  packages/lib-user/src/components/GroupStats/components/MembersList/components/MemberListItem.js
  packages/lib-user/src/components/GroupStats/components/TopContributors/TopContributors.js
  packages/lib-user/src/components/GroupStats/helpers/getHeaderItems.js
  packages/lib-user/src/components/GroupStats/helpers/getHeaderItems.spec.js
  packages/lib-user/src/components/MyGroups/MyGroups.js
  packages/lib-user/src/components/MyGroups/MyGroups.stories.js
  packages/lib-user/src/components/MyGroups/MyGroupsContainer.js
  packages/lib-user/src/components/MyGroups/components/CreateButton/CreateButton.js
  packages/lib-user/src/components/MyGroups/components/GroupCard/GroupCard.js
  packages/lib-user/src/components/MyGroups/components/PreviewLayout/PreviewLayout.js
  packages/lib-user/src/components/UserHome/components/Dashboard/Dashboard.js
  packages/lib-user/src/components/UserHome/components/Dashboard/components/StatsTabs/StatsTabs.js
  packages/lib-user/src/components/UserHome/components/RecentProjects/RecentProjects.js
  packages/lib-user/src/components/UserHome/components/RecentSubjects/RecentSubjects.js
  packages/lib-user/src/components/UserHome/components/SubjectCard/SubjectCard.js
  packages/lib-user/src/components/UserStats/UserStats.js
  packages/lib-user/src/components/shared/BarChart/BarChart.js
  packages/lib-user/src/components/shared/BarChart/helpers/getDateRangeLabel.js
  packages/lib-user/src/components/shared/BarChart/helpers/getDateRangeLabel.spec.js
  packages/lib-user/src/components/shared/GroupContainer/GroupContainer.js
  packages/lib-user/src/components/shared/GroupContainer/components/DeactivatedGroup.js
  packages/lib-user/src/components/shared/GroupContainer/helpers/getUserGroupStatus.js
  packages/lib-user/src/components/shared/GroupContainer/helpers/getUserGroupStatus.spec.js
  packages/lib-user/src/components/shared/GroupForm/GroupForm.js
  packages/lib-user/src/components/shared/Layout/components/HeaderDropdown.js
  packages/lib-user/src/components/shared/MainContent/MainContent.js
  packages/lib-user/src/components/shared/MainContent/MainContent.spec.js
  packages/lib-user/src/components/shared/MainContent/components/StyledCalendarButton.js
  packages/lib-user/src/components/shared/MainContent/components/StyledTab.js
  packages/lib-user/src/components/shared/MainContent/helpers/getDateRangeSelectOptions.js
  packages/lib-user/src/components/shared/MainContent/helpers/getDateRangeSelectOptions.spec.js
  packages/lib-user/src/components/shared/MainContent/helpers/getProjectSelectOptions.js
  packages/lib-user/src/components/shared/ProfileHeader/ProfileHeader.js
  packages/lib-user/src/components/shared/Select/Select.js
  packages/lib-user/src/components/shared/TopProjects/TopProjects.js
  packages/lib-user/src/translations/en.json
Labels: approved, translations

#6553 lib-user: Setup react-i18next for Contributors components
  packages/lib-user/package.json
  packages/lib-user/src/components/Contributors/Contributors.js
  packages/lib-user/src/components/Contributors/components/ContributorsList/ContributorsList.js
  packages/lib-user/src/components/Contributors/components/MemberStats/MemberStats.js
  packages/lib-user/src/components/Contributors/components/ProjectStats/ProjectStats.js
  packages/lib-user/src/components/GroupStats/GroupStats.js
  packages/lib-user/src/components/GroupStats/components/GroupUpdateFormContainer/GroupUpdateFormContainer.js
  packages/lib-user/src/components/GroupStats/components/MemberCard/MemberCard.js
  packages/lib-user/src/components/GroupStats/components/MembersList/MembersList.js
  packages/lib-user/src/components/GroupStats/components/MembersList/components/MemberListItem.js
  packages/lib-user/src/components/GroupStats/components/TopContributors/TopContributors.js
  packages/lib-user/src/components/GroupStats/helpers/getHeaderItems.js
  packages/lib-user/src/components/GroupStats/helpers/getHeaderItems.spec.js
  packages/lib-user/src/components/MyGroups/MyGroups.js
  packages/lib-user/src/components/MyGroups/MyGroups.stories.js
  packages/lib-user/src/components/MyGroups/MyGroupsContainer.js
  packages/lib-user/src/components/MyGroups/components/CreateButton/CreateButton.js
  packages/lib-user/src/components/MyGroups/components/GroupCard/GroupCard.js
  packages/lib-user/src/components/MyGroups/components/PreviewLayout/PreviewLayout.js
  packages/lib-user/src/components/UserHome/components/Dashboard/Dashboard.js
  packages/lib-user/src/components/UserHome/components/Dashboard/components/StatsTabs/StatsTabs.js
  packages/lib-user/src/components/UserHome/components/RecentProjects/RecentProjects.js
  packages/lib-user/src/components/UserHome/components/RecentSubjects/RecentSubjects.js
  packages/lib-user/src/components/UserHome/components/SubjectCard/SubjectCard.js
  packages/lib-user/src/components/UserStats/UserStats.js
  packages/lib-user/src/components/shared/BarChart/BarChart.js
  packages/lib-user/src/components/shared/BarChart/helpers/getDateRangeLabel.js
  packages/lib-user/src/components/shared/BarChart/helpers/getDateRangeLabel.spec.js
  packages/lib-user/src/components/shared/GroupContainer/GroupContainer.js
  packages/lib-user/src/components/shared/GroupContainer/components/DeactivatedGroup.js
  packages/lib-user/src/components/shared/GroupContainer/helpers/getUserGroupStatus.js
  packages/lib-user/src/components/shared/GroupContainer/helpers/getUserGroupStatus.spec.js
  packages/lib-user/src/components/shared/GroupForm/GroupForm.js
  packages/lib-user/src/components/shared/Layout/components/HeaderDropdown.js
  packages/lib-user/src/components/shared/MainContent/MainContent.js
  packages/lib-user/src/components/shared/MainContent/MainContent.spec.js
  packages/lib-user/src/components/shared/MainContent/components/StyledCalendarButton.js
  packages/lib-user/src/components/shared/MainContent/components/StyledTab.js
  packages/lib-user/src/components/shared/MainContent/helpers/getDateRangeSelectOptions.js
  packages/lib-user/src/components/shared/MainContent/helpers/getDateRangeSelectOptions.spec.js
  packages/lib-user/src/components/shared/MainContent/helpers/getProjectSelectOptions.js
  packages/lib-user/src/components/shared/ProfileHeader/ProfileHeader.js
  packages/lib-user/src/components/shared/Select/Select.js
  packages/lib-user/src/components/shared/TopProjects/TopProjects.js
  packages/lib-user/src/translations/README.md
  packages/lib-user/src/translations/en.json
  packages/lib-user/src/translations/i18n.js
Labels: approved, translations

#6494 lib-classifier: Refactor survey task Choices and ChoiceButton styling
  packages/lib-classifier/src/plugins/tasks/survey/components/SurveyTask.spec.js
  packages/lib-classifier/src/plugins/tasks/survey/components/SurveyTask.userClicks.spec.js
  packages/lib-classifier/src/plugins/tasks/survey/components/SurveyTask.userKeystrokes.spec.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Choice/Choice.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/Chooser.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/Choices/Choices.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/Choices/Choices.spec.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/Choices/Choices.stories.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/Choices/components/ChoiceButton.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/Choices/components/ChoiceButton.spec.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/Choices/components/DeleteButton.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/Choices/components/DeleteButton.spec.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/Choices/components/theme.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/Choices/helpers/index.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/Choices/helpers/shouldShadeBackground.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/Choices/helpers/whatSizeThumbnail.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/Choices/helpers/whatSizeThumbnail.spec.js
  packages/lib-classifier/src/plugins/tasks/survey/mock-data/index.js
  packages/lib-classifier/src/plugins/tasks/survey/mock-data/task.js
  packages/lib-classifier/src/stories/components/MockTask/MockTask.js
  packages/lib-classifier/src/translations/en/plugins.json
Labels: approved

#6618 Adjust timeout of GroupForm's unit test
  packages/lib-user/package.json
  packages/lib-user/src/components/shared/GroupForm/GroupForm.spec.js
  yarn.lock
Labels: approved

#6637 lib-classifier: Refactor survey task CharacteristicValue image type
  packages/lib-classifier/src/plugins/tasks/survey/models/SurveyTask.js
Labels: approved

#6573 VV - UI + Styles
  packages/lib-classifier/src/components/Classifier/components/SubjectViewer/components/VolumetricViewer/VolumetricViewer.spec.js
  packages/lib-classifier/src/components/Classifier/components/SubjectViewer/components/VolumetricViewer/VolumetricViewerWrapper.js
  packages/lib-subject-viewers/src/VolumetricViewer/README.md
  packages/lib-subject-viewers/src/VolumetricViewer/VolumetricViewer.js
  packages/lib-subject-viewers/src/VolumetricViewer/components/ComponentViewer.js
  packages/lib-subject-viewers/src/VolumetricViewer/components/Config.js
  packages/lib-subject-viewers/src/VolumetricViewer/components/Cube.js
  packages/lib-subject-viewers/src/VolumetricViewer/components/Histogram.js
  packages/lib-subject-viewers/src/VolumetricViewer/components/InputRange.js
  packages/lib-subject-viewers/src/VolumetricViewer/components/InputRangeDual.js
  packages/lib-subject-viewers/src/VolumetricViewer/components/Orientation.js
  packages/lib-subject-viewers/src/VolumetricViewer/components/Plane.js
  packages/lib-subject-viewers/src/VolumetricViewer/components/Slider.js
  packages/lib-subject-viewers/src/VolumetricViewer/css/globals.css
  packages/lib-subject-viewers/src/VolumetricViewer/data/16x16x16.json
  packages/lib-subject-viewers/src/VolumetricViewer/data/32x32x32.json
  packages/lib-subject-viewers/src/VolumetricViewer/data/64x64x64.json
  packages/lib-subject-viewers/src/VolumetricViewer/data/8x8x8.json
  packages/lib-subject-viewers/src/VolumetricViewer/data/subjectMock.js
  packages/lib-subject-viewers/src/VolumetricViewer/helpers/OrbitControls.js
  packages/lib-subject-viewers/src/VolumetricViewer/models/ModelAnnotations.js
  packages/lib-subject-viewers/src/VolumetricViewer/models/ModelViewer.js
  packages/lib-subject-viewers/src/VolumetricViewer/tests/ModelViewer.spec.js
  packages/lib-subject-viewers/src/VolumetricViewer/tests/VolumetricViewer.spec.js
  packages/lib-subject-viewers/src/VolumetricViewer/tests/VolumetricViewer.stories.js
  packages/lib-subject-viewers/src/hooks/useVolumetricSubject.js
Labels: approved

#6615 lib-classifier: Refactor CenteredLayout and survey task spacing
  packages/lib-classifier/src/components/Classifier/components/Layout/components/CenteredLayout/CenteredLayout.js
  packages/lib-classifier/src/components/Classifier/components/Layout/components/MaxWidth/MaxWidth.js
  packages/lib-classifier/src/components/Classifier/components/Layout/components/MaxWidth/MaxWidth.stories.js
  packages/lib-classifier/src/components/Classifier/components/Layout/components/NoMaxWidth/NoMaxWidth.js
  packages/lib-classifier/src/components/Classifier/components/Layout/components/NoMaxWidth/NoMaxWidth.stories.js
  packages/lib-classifier/src/components/Classifier/components/Layout/components/shared/StyledContainers.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/Chooser.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/Choices/Choices.js
  packages/lib-classifier/src/stories/components/MockTask/MockTask.js
Labels: approved

#6636 Classifier: Add tooltips to the Button component in ImageToolbar
  packages/lib-classifier/src/components/Classifier/components/ImageToolbar/ImageToolbar.js
  packages/lib-classifier/src/components/Classifier/components/ImageToolbar/components/Button/Button.js
  packages/lib-classifier/src/translations/en/components.json
Labels: enhancement, approved

#6619 lib-classifier: Refactor survey task filtering
  packages/lib-classifier/src/plugins/tasks/survey/components/SurveyTask.spec.js
  packages/lib-classifier/src/plugins/tasks/survey/components/SurveyTask.userClicks.spec.js
  packages/lib-classifier/src/plugins/tasks/survey/components/SurveyTask.userKeystrokes.spec.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/Chooser.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/CharacteristicsFilter/Characteristics/Characteristics.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/CharacteristicsFilter/Characteristics/Characteristics.stories.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/CharacteristicsFilter/Characteristics/components/CharacteristicSection.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/CharacteristicsFilter/Characteristics/components/CharacteristicSection.stories.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/CharacteristicsFilter/ClearFilters/ClearFilters.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/CharacteristicsFilter/FilterStatus/FilterStatus.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/CharacteristicsFilter/FilterStatus/FilterStatus.spec.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/CharacteristicsFilter/FilterStatus/FilterStatus.stories.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/CharacteristicsFilter/components/FilterButton.stories.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/CharacteristicsFilter/components/FilterLabel.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/CharacteristicsFilter/components/FilterLabel.spec.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/CharacteristicsFilter/components/FilterLabel.stories.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/Choices/Choices.js
  packages/lib-classifier/src/plugins/tasks/survey/components/components/Chooser/components/Choices/Choices.spec.js
  packages/lib-classifier/src/translations/en/plugins.json
Labels: approved
